# Environment mode: Development, Staging, Production
ASPNETCORE_ENVIRONMENT=Development

# PostgreSQL configuration
POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DB=mnemo

# JWT configuration
JWT_KEY=YOUR_BEARER_SECRET_KEY
JWT_ISSUER=mnemo
JWT_AUDIENCE=mnemo