// Reset
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}

input[type='search'] {
  -moz-appearance: textfield;
  appearance: none;
}

ol,
li {
  list-style-type: none;
}

html {
  --shadow-color: #{$shadow-color};

  background-color: $layout-bg;
}

body {
  margin: 0 auto;
  padding: 0px 12px;
  max-width: $layout-width;
  font-weight: 400px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

input {
  outline: none;
  color: $text-primary;
  font-family: 'Inter', sans-serif;

  &::placeholder {
    color: $text-muted;
  }
}

button {
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

::selection {
  background-color: $shadow-color;
  color: $text-primary;
}

// Basic
button {
  border-radius: 12px;

  background-color: $surface-primary;

  color: $text-primary;

  font-size: 16px;

  &:disabled {
    cursor: default;

    background-color: $surface-secondary;
    color: $text-secondary;
  }

  &:active {
    color: $text-secondary;
  }
}

.big-button {
  @include lift();

  box-shadow: 5px 5px 0px var(--shadow-color);

  padding: 10px;

  width: 100%;
}

.big-button.danger {
  --shadow-color: #{$danger-shadow};

  filter: drop-shadow(5px 5px 15px var(--shadow-color));
  will-change: filter;

  background-color: $danger-body;
  color: $danger-text;

  &:disabled {
    cursor: default;
    color: $danger-shadow;
  }

  &:active {
    color: $danger-shadow;
  }
}

.small-button {
  @include lift();

  position: relative;

  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;

  .iconize {
    position: absolute;

    top: 8px;
    left: 8px;

    color: $shadow-color;
  }
}

.part-of-speech {
  color: $text-secondary;
  font-weight: 300;

  font-size: 15px;
  text-transform: lowercase;
}
