@mixin iconize($size, $weight: 400, $fill: 1, $grad: 0) {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;

  width: $size;
  height: $size;

  color: $icon-color;
  font-style: normal;
  font-weight: normal;
  font-size: $size * 1.2;
  line-height: 1;

  font-family: 'Material Symbols Rounded';
  letter-spacing: normal;
  user-select: none;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  font-feature-settings: 'liga';
  direction: ltr;
  -webkit-font-smoothing: antialiased;

  font-variation-settings:
    'FILL' #{$fill},
    'wght' #{$weight},
    'GRAD' #{$grad},
    'opsz' #{$size};
}

@mixin ellipsis($lines: 1) {
  @if $lines == 1 {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// Использование
.title {
  @include ellipsis(1);
}

.description {
  @include ellipsis(3);
}

@mixin lift($distance: -2px, $shadow-offset: 2px) {
  transition:
    transform 0.2s,
    box-shadow 0.2s ease;

  &:hover {
    transform: translateY($distance);
    box-shadow: ($shadow-offset + 5px) ($shadow-offset + 5px) 0px var(--shadow-color);
  }
}
