@mixin iconize-text() {
  line-height: 1;
  font-size: 24px;
  font-family: 'Material Symbols Rounded';
}

@mixin lift($distance: -2px, $shadow-offset: 2px) {
  transition:
    transform 0.2s,
    box-shadow 0.2s ease;

  &:hover {
    transform: translateY($distance);
    box-shadow: ($shadow-offset + 5px) ($shadow-offset + 5px) 0px $shadow;
  }
}
