$layout-width: 394px;
$layout-bg: #fafafa;

$icon-color: #9b9b9b;
$elevated-bg: #ffffffcc;
$search-color: #ffffff;
$shadow-color: #bbbbbb;

$danger-body: #f3b5ba;
$danger-shadow: #d77e8e;
$danger-text: #892f39;

$surface-primary: #ededed;
$surface-secondary: #d9d9d9;

$text-primary: #1e1e1e;
$text-secondary: #4d4d4d;
$text-muted: #6c6c6c;
